$bule-color: #1d99e3;
$green-color: rgb(134, 191, 50);
$black-color: #616161;
$grey-color: #ccc;
$words-color: #f3f3f3;
$huihei-color: #434343;
$hover-black: #404040;
$black-color1: #333333;
$white-color: #fff;
$green-1: #06c152;
$red-1: #E24329;
$bule-1: #3182F6;
// ----------------------------------------------------------------
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
//----------------------------------------------------------------
// Neutral color palette
$palette-neutral--xdark: #2C3643;
$palette-neutral--dark: #3B444F;
$palette-neutral--base: #67747C;
$palette-neutral--light: #99A9B3;
$palette-neutral--xlight: #DBE6EC;

// Primary color palette
$palette-blue--dark: #1D508D;
$palette-blue--base: #206FAC;
$palette-blue--light: #288AD6;
$palette-red: #FA5E5B;
$palette-green: #16C98D;
$palette-orange: #FFC83F;
$palette-yellow: #FEEF6D;
