@import "./_reset";
@import "./color";
@import "@/assets/scss/_media.scss";

.alertMsg {
	animation: alertMsg 1s 2;
}

@keyframes alertMsg {
	50% {
		background-color: #7736e3;
	}
}

.warnMsg {
	animation: warnMsg 1s 2;
}

@keyframes warnMsg {
	50% {
		background-color: #ff976a;
	}
}

.dangerMsg {
	animation: dangerMsg 1s 2;
}

@keyframes dangerMsg {
	50% {
		background-color: #ee0a24;
	}
}

.friendlyMsg {
	animation: friendlyMsg 1s 2;
}

@keyframes friendlyMsg {
	50% {
		background-color: #07bc5d;
	}
}
